<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>In All My Dreams</title>
  <link rel="icon" href="/img/star-icon.png">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/jquery-3.4.1.min.js"></script>
  <script src="/js/hadriana.js"></script>
  <script src="https://kit.fontawesome.com/aaba27e4fd.js" crossorigin="anonymous"></script>
  
</head>