<!DOCTYPE html>
<html lang="en">
<nav class="navigation-bar">



    <div id="mySidenav" class="sidenav">
        <p><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
       <a href="/hadriana/">home</a>
        <a href="{{site.baseurl}}/plan-your-visit">plan your visit</a>
        <a href="/hadriana/about">about the exhibit</a>
        <a href="/hadriana/artists">meet the artists</a>
        <a href="/hadriana/scholars">meet the scholars</a>
        <a href="/hadriana/depestre">about Ren&eacute; Depestre</a>
        <a href="/hadriana/maps">Jacmel</a>
        <a href="/hadriana/events">events</a>
        <a href="/hadriana/bookclub">book club with Edwidge Danticat</a>
        <a href="/hadriana/credits">credits</a></p>



      </div>
      <!-- Use any element to open the sidenav -->
      <a class="icon" href="/hadriana/"><img class="icon" alt="home button" src="/hadriana/img/star-icon.png"></a>
      <p><a href= "javascript:voud(0)" onclick="openNav()" id="opennav">index</a></p>
      
    </nav>  
<script>/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
  
  </script>
