<nav class="navigation-bar">
    <h5 class= "site-identity">In All My Dreams</h5>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
        <a href="/hadriana/">Home</a>
        <a href="/hadriana/pages/plan-your-visit">Plan Your Visit</a>
        <a href="/hadriana/pages/about">About "In All My Dreams</a>
        <a href="#">Artist Bios</a>
        <a href="#">Gallery</a>
        <a href="#">Events</a>
        <a href="#">Book Club</a>
        <a href="#">Credits</a>
      </div>
      <!-- Use any element to open the sidenav -->
      <span onclick="openNav()" id="opennav">Index</span>
    </nav>  
<script>/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
  </script>