<nav class="navigation-bar">
  <a class="icon" href="/hadriana/"><img class="icon" src="/hadriana/img/Star-Icon-Turquoise.png"></a>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
        <a href="/hadriana/">Home</a>
        <a href="{{site.baseurl}}/plan-your-visit">Plan Your Visit</a>
        <a href="/hadriana/about">About</a>
        <a href="/hadriana/artists">The Artists</a>
        <a href="/hadriana/scholars">The Scholars</a>
        <a href="/hadriana/gallery">Gallery</a>
        <a href="/hadriana/depestre">About Depestre</a>
        <a href="#">Events</a>
        <a href="https://iamdbookclub.com">Book Club</a>
        <a href="#">Credits</a>
      </div>
      <!-- Use any element to open the sidenav -->
      <span onclick="openNav()" id="opennav">index</span>
    </nav>  
<script>/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
  
  </script>