/* All */
/* * {
      transition: all 0.1s ease;
}
 */
body {
    background-color: #F3EFE1;
}

/* Main container */
.container-2 {
    @include media-query($on-palm) {
        padding: 0;
    }
}


/* Post layout container */
.page-container {

    @include media-query($on-palm) {
        padding: 60px;
    }
}
h1, h2 {
    color:#521e35;
}

.partition {
    background-color: #fff;
    box-shadow: 0 0 4px #ddd;

}


/* Images */
img {
    max-width: 100%;
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $brand-color;
    border-radius: 3px;
    background-color: transparent;
}

code {
    padding: 1px 5px;
    
}

pre {
    padding: 8px 12px;
    overflow-x: hidden;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* NAVIGATION*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: teal; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
#label-1 {
   left: 0;
}
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #F3EFE1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: grey;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
    margin-left: 50px;
  }

  #opennav {
      color:#521e35;
      position: relative;
      top:15px;
      font-size: 20px;
        float: left;
        margin-left: 3%;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    .navigation-bar {
        width: 100%;  /* i'm assuming full width */
        height: 60px; /* change it to desired width */
        background-color: #F3EFE1; /* change to desired color */
        position: fixed;
        z-index:100;
    }
  
    .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        float: right;
        margin-top: 6px;
        margin-right: 1%;    /* if you want it vertically middle of the navbar. */
    }

    .site-identity {
        color: teal
    }

    .navigation-bar > a {
        display: inline-block;
      
        vertical-align: top;
        margin-left: 40px;
        height: 50px;        /* if you want it to take the full height of the bar */
        line-height: 80px;    /* if you want it vertically middle of the navbar */
    }

/* Main header */
/* News blocks */

.header-container {
    text-align: center;
}
.head-title {
    display: inline-block;
    padding-top: 50%;
    font-size: 50px;
    width: 250px;
    color: #521e35;
    margin-bottom:2px;
}

.subtitle {
    display: inline-block;
    font-size: 15px;
    width: 250px;
    color: #521e35;
    margin-bottom: 2px;

    }

    .names {
        display: inline-block;
        font-size: 9.5px;
        width: 315px;
        color: #521e35;
        margin-bottom: 2px;
    
    
}

.dates {
    display: inline-block;
    font-size: 12px;
    width: 270px;
    color: #521e35;


}
.visit-us {
    position: absolute;
    display: block;
    text-align: right;
    right: 20px;
    font-size: 15px;
    bottom: 0;
    margin-bottom: 3px;
    color: #521e35;
    font-weight: 200;
    width: 100%;
}

#vidplayer {
    width: 100%;
    height: 220px;
    float:  right;
    display: block;
    background-color: black;

}
#video-1 {
    width: 100%;
    height: 220px;
    float:  right;
    display: block;
    background-color: black;

}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 0px;
    grid-auto-rows: minmax(120px, auto);
    grid-auto-flow: dense;
    align-items: stretch;
    margin-bottom: 20em;
    margin-top: 100px;
}

.grid-item {
    display: flex;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F3EFE1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.grid-item-5{
    grid-column-end: span 3;
    grid-row-end: span 1;
    background-color: teal;
}

.grid-item-13 {
    grid-column-end: span 3;
    grid-row-end: span 1;
background-color:#4b0e0e;
}

.span-1 {
    grid-column-end: span 4;
    grid-row-end: span 4;
}

.span-2 {
    grid-column-end: span 8;
    grid-row-end: span 4;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.span-4 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.span-5 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}
.span-6 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}
.span-7 {
    grid-column-end: span 3;
    grid-row-end: span 2;   
} 

.span-9 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}

.span-11 {
    grid-column-end: span 3;
    grid-row-end: span 2;
}
.span-12 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}
.grid-title a{
   color: white !important;
   font-size: 30px ;
    
}
.grid-title {
    background: rgba(7, 8, 8, 0.65); 
    text-transform: none;
   width: 100%;
    padding-left: 15px;
}

.grid-heading {
    color: white !important;
    width: 100%;
    font-size: 10px ;
    
}

.grid-heading-2 {
    color: white !important;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}
.grid-heading-3 {
    color: black;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .grid-item-8 {
    background-color: white;
    
}

.grid-item-11 {
    background-color: rgb(29, 167, 144);
}

#column-a {
    width: 100%;
    float: left;
}
#column-b {
    width: 100%;
    float: right;
}
#column-c {
    width: 100%;
    float: right;
}
#column-d {
    width: 100%;
    float: right;
}
.artist {
    word-wrap: break-word;
}
#columns-2 {
column-count: 1;
}

@media (min-width: 750px) {

    .head-title {
    display: inline-block;
    padding-top: 12%;
    font-size: 125px;
    width: 1000px;
    color: #521e35;
}
.names {
        display: inline-block;
        font-size: 15px;
        width: 1000px;
        color: #521e35;
        letter-spacing: 4px;
    
    
}

.dates{
    display: inline-block;
    font-size: 15px;
    width: 1000px;
    color: #521e35;
    letter-spacing: 4px;


}
    .subtitle {
    display: inline-block;
    padding-top: 0px;
    font-size: 50px;
    width: 1000px;
    color: #521e35;

    }
    .visit-us {
        position: absolute;
        display: block;
        text-align: right;
        right: 30px;
        font-size: 25px;
        bottom: 0;
        color: #521e35;
        font-weight: 200;
        width: 100%;
    }

.grid-item {
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F3EFE1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.grid-item-5, {
    background-color: teal;
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.grid-item-10 {
    background-color: teal;
    grid-column-end: span 2;
    grid-row-end: span 1;
    text-align: center;
}

.grid-item-11 {
    background-color: rgb(29, 167, 144);
}

.grid-item-13 {
    background-color: #4b0e0e;
}

.grid-item-1:hover, .grid-item-3:hover, .grid-item-5:hover, .grid-item-10:hover, .grid-item-11:hover, .grid-item-9:hover, .grid-item-13:hover{
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .70;
    
}

.grid-item-8:hover, {
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .40;
}
.span-2 {
    grid-column-end: span 8;
    grid-row-end: span 4;
}

.video-container {
  display: grid;
  grid-template-columns: 66.6% 33.3%;
  grid-auto-flow: column;
  height: 478px;
}
.video-large {
  grid-column: 1;
  grid-row: 1 / 3;
}
.video-container iframe{ /*change according to your need*/
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
}

.span-3 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.span-4 {
    grid-column-end: span 4;
    grid-row-end: span 6;
}

.span-5 {
    grid-column-end: span 3;
    grid-row-end: span 7;
}
.span-6 {
    grid-column-end: span 2;
    grid-row-end: span 3;
}
.span-7 {
    grid-column-end: span 2;
    grid-row-end: span 4;   
} 
.span-8 {
    grid-column-end: span 2;
    grid-row-end: span 4;
}
.span-9 {
    grid-column-end: span 2;
    grid-row-end: span 3;
}

.span-10 {
    grid-column-end: span 2;
    grid-row-end: span 4;
}

.span-11 {
    grid-column-end: span 1;
    grid-row-end: span 3;
}

.span-12 {
    grid-column-end: span 3;
    grid-row-end: span 3;
}

.span-13 {
    grid-column-end: span 4;
    grid-row-end: span 1;
}

#bookclub {
    height:75px;
    width: 100px;
    padding-right:10px;
    display:inline-block;
}
.grid-item-8 {
    background-color: white;
    
}

#video-1 {
    grid-column-end: span 3;
    height: 350px;
    float:  right;
    display: block;
    background-color:black;
}
#column-a {
    width: 33.333%;
    float: left;
}
#column-b {
    width: 66.66667%;
    float: right;
}
#column-c {
    width: 50%;
    float: right;
}
#column-d {
    width: 63%;
    float: right;
}
.artist {
    word-wrap: break-word;
}
#columns-2 {
column-count: 2;
}
}

.news-piece{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   /* &:hover{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
       /* filter: grayscale(100%); */
     
}
 
.news-piece-1 {
    height: 350px;
    background-color:#F3EFE1;
    
}
.news-piece-2 {
   height: 350px;
}

.news-piece-3 {
    height:650px;
}


.news-title {
    position: absolute;
    display: block;
    bottom: 0;
    margin-bottom: 0;
    color: #F3EFE1;
    background-color: maroon;
    font-weight: 200;
    width: 100%;
}

.hero-image.news-piece {
    background: #F3EFE1;
}


/* Adjust columns */
@media (min-width: 750px) {
    .hero-image.news-piece {
        height: 720px;
        width: 100%;
    }
}
@media (min-width: 750px) {
.twelve.columns.news-piece{
    background: teal
}
}
@media (min-width: 550px) {

.eight.columns.news-piece{
    height:500px;
    
}

.seven.columns.news-peice {
    height:350px;
}


.five.column.news-piece {
    height:100px;
}
.four.columns.news-piece {
height:465px; 
}

.news-title {
    position: absolute;
    display: block;
    right:0;
    bottom:0;
    margin: 0;
    color: #F3EFE1;
    background-color: maroon;
    padding: 2px 10px;
    font-weight: 200;
    width: 30%;
}

}
.three.columns.new-piece {
right: 0;
    position: absolute;

}


.first-row {
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    background-color:#F3EFE1;
}
.row-border {
    border-bottom: 0px solid transparent;
}




.quote {
    height: 200px;
    text-align: center;
    vertical-align:middle;
    @include media-query($on-palm) {
        padding: 0 10px;
    }
}

.quote-day {
    quotes : "\"" "\"" "'" "'";
    font-family: $base-font-family;
    font-size: 230%;
    margin: 50px auto 0 auto;
    @include media-query($on-palm) {
            font-size: 130%;
    }
    &:before {
      content: open-quote;  

    }
    &:after{
        content: close-quote;

    }
}
.quote-by {
    text-align: right;
}


.bg {
    box-shadow: 0 0 4px #ddd;
     background: #fbff0b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fbff0b , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fbff0b , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.border {
    border-right: 2px solid transparent;
    @include media-query($on-palm) {
        border-right: none;
    }
}
.four.border {
    border-right: 2px solid #f1b52e;
        @include media-query($on-palm) {
        border-right: none;
    }
}
.border-2 {
        border-right: 2px solid #e76d53;
        @include media-query($on-palm) {
        border-right: none;
    }
}
.six.columns {
      width: 50%;
    @include media-query($on-palm) {
        width: 100%;
    }
}

/* Header Image on posts */
.page-image {
    height: 320px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1em;
    @include media-query($on-palm) {
       height: 200px; 
    }
}
@media (min-width: 400px) { .page-image {
width:100%; }
}


/* Post and page title */
.page-title {
    font-weight: 600;
}


/* Footer*/
footer {
    background-color: black;
    color: #eee;
    text-align: center;

}
/* Add class="video" to video embeds */

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
