/* All */
/* * {
      transition: all 0.1s ease;
}
 */
body {
    background-color: darkslategrey;
}

/* Main container */
.container-2 {
    @include media-query($on-palm) {
        padding: 0;
    }
}


/* Post layout container */
.page-container {

    @include media-query($on-palm) {
        padding: 10px;
    }
}

.partition {
    background-color: #fff;
    box-shadow: 0 0 4px #ddd;

}


/* Images */
img {
    max-width: 100%;
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $brand-color;
    border-radius: 3px;
    background-color: transparent;
}

code {
    padding: 1px 5px;
    
}

pre {
    padding: 8px 12px;
    overflow-x: hidden;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* NAVIGATION*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: teal; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
#label-1 {
   left: 0;
}
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #F3EFE1;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: grey;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
    margin-left: 50px;
  }

  #opennav {
      color:teal;
      position: relative;
      top:15px;
      font-size: 20px;
        float: left;
        margin-left: 3%;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    .navigation-bar {
        width: 100%;  /* i'm assuming full width */
        height: 60px; /* change it to desired width */
        background-color: #F3EFE1; /* change to desired color */
        position: fixed;
        z-index:100;
    }
    .site-identity {
        display: inline-block;
        width: 150px;
        height: 50px;
        float: right;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-right: 3%;    /* if you want it vertically middle of the navbar. */
    }

    .site-identity {
        color: teal
    }

    .navigation-bar > a {
        display: inline-block;
      
        vertical-align: top;
        margin-left: 40px;
        height: 50px;        /* if you want it to take the full height of the bar */
        line-height: 80px;    /* if you want it vertically middle of the navbar */
    }

/* Main header */
/* News blocks */

.header-container {
    text-align: center;
}
.head-title {
    display: inline-block;
    padding: 22% 0;
    font-size: 30px;
    width: 250px;
    color: white;
}
.visit-us {
    position: absolute;
    display: block;
    text-align: right;
    right: 20px;
    font-size: 15px;
    bottom: 0;
    margin-bottom: 3px;
    color: white;
    font-weight: 200;
    width: 100%;
}
#vidplayer {
    width: 100%;
    
    float:  right;
    display: block;
    background-color: teal;

}

@media (min-width: 550px) {
.head-title {
    display: inline-block;
    padding: 12% 0;
    font-size: 90px;
    width: 700px;
    color: white;
}
    
    .visit-us {
        position: absolute;
        display: block;
        text-align: right;
        right: 30px;
        font-size: 25px;
        bottom: 0;
        color: white;
        font-weight: 200;
        width: 100%;
    }
#vidplayer {
        width: 41.6%;
        height: 350px;
        float:  right;
        display: block;
        background-color: maroon;
  
}
}

.news-piece{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   /* &:hover{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
       /* filter: grayscale(100%); */
     
}
.news-piece-1 {
    height: 350px;
    background-color:#F3EFE1;
    
}
.news-piece-2 {
   height: 350px;
}

.news-piece-3 {
    height: 200px;
    margin-top: 15px;
}


.news-title {
    position: absolute;
    display: block;
    bottom: 0;
    margin-bottom: 0;
    color: #F3EFE1;
    background-color: maroon;
    font-weight: 200;
    width: 100%;
}

.hero-image.news-piece {
    background: lightseagreen;
}


/* Adjust columns */
@media (min-width: 750px) {
    .hero-image.news-piece {
        height: 500px;
        width: 100%;
    }
}
@media (min-width: 750px) {
.twelve.columns.news-piece{
    background: teal
}
}
@media (min-width: 550px) {

.eight.columns.news-piece{
    height:500px;
    
}

.seven.columns.news-peice {
    height:350px;
}


.five.column.news-piece {
    height:100px;
}
.four.columns.news-piece {
position: absolute;   
height:465px; 
}

.news-title {
    position: absolute;
    display: block;
    right:0;
    bottom:0;
    margin: 0;
    color: #F3EFE1;
    background-color: maroon;
    padding: 2px 10px;
    font-weight: 200;
    width: 30%;
}

}
.three.columns.new-piece {
right: 0;
    position: absolute;

}

.first-row {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
    background-color:#F3EFE1;
}
.row-border {
    border-bottom: 2px solid transparent;
}



.quote {
    height: 200px;
    text-align: center;
    vertical-align:middle;
    @include media-query($on-palm) {
        padding: 0 10px;
    }
}

.quote-day {
    quotes : "\"" "\"" "'" "'";
    font-family: $base-font-family;
    font-size: 230%;
    margin: 50px auto 0 auto;
    @include media-query($on-palm) {
            font-size: 130%;
    }
    &:before {
      content: open-quote;  

    }
    &:after{
        content: close-quote;

    }
}
.quote-by {
    text-align: right;
}


.bg {
    box-shadow: 0 0 4px #ddd;
     background: #fbff0b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fbff0b , #DD2476); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fbff0b , #DD2476); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.border {
    border-right: 2px solid transparent;
    @include media-query($on-palm) {
        border-right: none;
    }
}
.four.border {
    border-right: 2px solid #f1b52e;
        @include media-query($on-palm) {
        border-right: none;
    }
}
.border-2 {
        border-right: 2px solid #e76d53;
        @include media-query($on-palm) {
        border-right: none;
    }
}
.six.columns {
      width: 50%;
    @include media-query($on-palm) {
        width: 100%;
    }
}

/* Header Image on posts */
.page-image {
    height: 320px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1em;
    @include media-query($on-palm) {
       height: 200px; 
    }
}
@media (min-width: 400px) { .page-image {
width:100%; }
}


/* Post and page title */
.page-title {
    font-weight: 600;
}


/* Footer*/
footer {
    background-color: black;
    color: #eee;
    text-align: center;

}
/* Add class="video" to video embeds */
.video {
    width: 41.6%;
    height: 465px;
    float:  right;
    display: block;
    background-color: maroon;
    @include media-query($on-palm) {
        height: 250px;
    }
.vidsub {
    text-align: center;
    top: 0;
    a {color:white;}
}

iframe {
    float:center;
}

}